@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Roboto-bold;
  src: url(../fonts/Roboto-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Roboto-regular;
  src: url(../fonts/Roboto-Regular.ttf);
}
body {
  font-size: 16px;
  font-family: Roboto-regular, sans-serif;
}
h1 {
  font-size: 40px;
  font-family: Roboto-bold, sans-serif;
  align-self: flex-start;
}
h3 {
  font-family: Roboto-bold, sans-serif;
  font-size: 14px;
}

li::marker {
  padding-top: 10px;
}

li {
  font-size: 16px;
  font-family: Roboto-regular, sans-serif;
}
/* #emailInput::placeholder {
  margin-left: 20px;
} */
/* 
### Primary

- Tomato: hsl(4, 100%, 67%)

### Neutral

- Dark Slate Grey: hsl(234, 29%, 20%)
- Charcoal Grey: hsl(235, 18%, 26%)
- Grey: hsl(231, 7%, 60%)
- White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size (paragraph): 16px

### Font

- Family: [Roboto](https://fonts.google.com/specimen/Roboto)
- Weights: 400, 700
*/
